@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito+Sans:wght@200;300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

.body-1 {
  @apply font-sans font-semibold text-[18px] leading-[21.78px];
}

.body-2{
  @apply font-sans font-medium text-lg leading-[21.78px];
}

.display-1{
  @apply font-bold text-6xl font-sans ;
}
.display-2{
  @apply font-sans font-medium text-2xl leading-[21.78px];
}

:root {
  --background: #ECEEF1;
  --primary-weak: #FFFFFF;
  --primary:#82878D;
  --primary-strong:#333333;
  --primary-medium:#82878D;
  --accent:#023168;
  --danger:#680232;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sans
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
